{{ define "main" }}
  <section class="pt-2">
    <h1 class="text-5xl leading-[1.2]">Identify what documentation<br />
      needs to be updated<br />
      for a pull request.
    </h1>
    <h2 class="text-4xl leading-[1.2] pt-8 pb-4"><b>Hyaline</b> looks at all<br />
      of your documentation to<br />
      see what needs to be updated,<br />
      and recommends what updates to make.
    </h2>
    <a href="#" class="text-white bg-blue-600 hover:bg-blue-780 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Get Started</a>
  </section>
  <section class="pt-8">
    <h3>1. Tell Hyaline about your code & documentation</h3>
    <p>Create a configuration file explaining where your code and docs are and what rules you would like to enforce.</p>
    <a href="#">Learn More →</a>

    <h3>2. Add Hyaline to your CI workflows</h3>
    <p>Integrate Hyaline into your GitHub Actions (or other workflows) so that it is called when a Pull Request is created or updated.</p>
    <a href="#">Learn More →</a>

    <h3>3. Hyaline tells you which docs should be updated</h3>
    <p>See a list of documentation that should be checked or updated, as well as a recommended set of changes to that documentation.</p>
    <a href="#">Learn More →</a>
  </section>
  <section>
    <h2>Hyaline can:</h2>
    <ul>
      <li>Find what documentation should be updated for any change</li>
      <li>Fix documentation issues before something released</li>
      <li>Prevent documentation from getting out of sync</li>
      <li>Ensure current documentation is complete</li>
      <li>Pull documentation from repositories, file systems, and websites</li>
      <li>Be configured to use your specific documentation practices</li>
      <li>Export a full set of documentation for your use</li>
    </ul>
  </section>
  <section>
    <h1>Hyaline</h1>
    <h2>Find, Fix, &amp; Prevent Documentation Issues</h2>
    <a href="#">Try it Now</a>
  </section>

  <p>This line is from <code>layouts/index.html</code>.</p>
{{ end }}